// font-family //
$main-font-family:'Josefin Sans',
sans-serif;
$primary-font-family:'Open Sans',
sans-serif;
//colors//
$main-clr:#131414;
$main-light-clr:#333;
$main-dark-clr:#000;
$main-some-dark-clr:#181818;
$primary-clr:#C49B66;
$primary-dark-clr:#b38b57;
$secondary-clr:#fff;
$third-clr:#bbb;
$fourth-clr:#eee;
// font-size //
$main-font-size:16px;
$primary-font-size:18px;
$secondary-font-size:22px;
$third-font-size:36px;
$fourth-font-size:30px;
$fifth-font-szie:12px;
$sixth-font-size:14px;
// font-weight //
$main-font-weight:200;
$primary-font-weight:300;
$secondary-font-weight:400;
$third-font-weight:500;
$fourth-font-weight:700;
// line-height //
$main-line-height:1.4;
$primary-line-height:1.6;
$secondary-line-height:38px;
$third-line-height:30px;
// letter-spacing //
$main-letter-spacing:1px;
$primary-letter-spacing:1.2px;
$secondary-letter-spacing:1.4px;
$third-letter-spacing:2px;
// transition //
$main-transition: all 0.3s ease-in;