#blog {
    .row {
        .btn-custom {
            margin: 0 auto;
            margin-top: 45px;
        }
        .col-lg-4 {
            &:nth-child(n+1) {
                margin-bottom: 15px;
            }
        }
    }
    .post-img {
        overflow: hidden;
        img {
            transition: $main-transition;
            object-fit: cover;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .post-content {
        background-color: $main-some-dark-clr;
        padding: 30px 15px 15px;
        a {
            transition: $main-transition;
            color: #cccccc;
            &:hover {
                color: $primary-clr;
            }
            h3 {
                font-size: $secondary-font-size;
                font-weight: $fourth-font-weight;
                margin-bottom: 15px;
            }
        }
        p {
            font-size: $sixth-font-size;
            padding-bottom: 30px;
            border-bottom: 1px solid #222;
            font-family: $primary-font-family;
            color: $third-clr;
            font-weight: $secondary-font-weight;
        }
        .post-info {
            padding-top: 15px;
            font-family: $primary-font-family;
            color: $primary-clr;
            span {
                font-size: $fifth-font-szie;
                a {
                    color: $primary-clr;
                    transition: $main-transition;
                    &:hover {
                        color: $primary-dark-clr;
                    }
                }
            }
            .more {
                border-bottom: 1px solid #222;
            }
            .date {
                float: right;
                color: $third-clr;
            }
        }
    }
}