#skills {
    .skills-items {
        text-align: center;
        .skills-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            grid-column-gap: 50px;
            grid-row-gap: 50px;
            li {
                background-color: $fourth-clr;
                padding: 10px;
                border-radius: 15px;
                width: 80px;
                transition: $main-transition;
                box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
                border: 1px solid $third-clr;
                &:hover {
                    box-shadow: 0px 5px 20px 0px rgba(196, 155, 102, 0.91)
                }
                p {
                    margin-top: 10px;
                    font-size: 10.9px;
                    color: $main-light-clr;
                    font-family: $primary-font-family;
                    font-weight: $third-font-weight;
                }
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}